alias activate="source .venv/bin/activate"
alias dot="git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME -c status.showUntrackedFiles=no"
alias ll="ls -al --icons --git --group-directories-first"
alias ls="eza"
alias lt="ll --tree"
alias time="/usr/bin/time"
alias vim='nvim'
